@import url('/home/fayez/.cache/wal/colors-waybar.css');

* {
    font-size:14px;
    font-family: "FiraCode Nerd Font";
}

window#waybar{
    all:unset;
}

.modules-left {
    padding: 5px;
    margin: 3px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
}

.modules-center {
    padding:5px;
    margin:3px;
    border-radius:10px;
    background: alpha(@background,.8);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding: 5px;
    margin: 3px;
    border-radius:10px;
    background: alpha(@background,.8);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

tooltip {
    background:@background;
    color: @color7;
}
#clock:hover, #pulseaudio:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:@color9;
}

#clock{
    padding: 0px 5px;
    color:@color7;
    transition: all .3s ease;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color9,.5);
    transition: all .2s ease;
}

#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    /* color: rgba(0,0,0,0); */
    color: alpha(@color9,.25);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color9;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 4px;
    color:@color7;

}
#network{
    padding: 0px 15px 0px 10px;
    color:@color7;

}
#battery{
    padding: 0px 5px;
    color:@color7;


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}

#custom-expand{
    padding: 0px 10px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}

#custom-expand:hover{
    color: green;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#cpu,#memory,#temperature{
    padding: 0px 10px;
    transition: all .3s ease; 
    color:@color7;

}

#custom-endpoint{
    padding: 0px 10px 0px 0px;
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}

#window {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}
